# Ansible managed server.properties file
enable-jmx-monitoring={{ minecraft_prop_enable_jmx_monitoring }}
rcon.port={{ minecraft_prop_rcon_port }}
gamemode={{ minecraft_prop_gamemode }}
enable-command-block={{ minecraft_prop_enable_command_block }}
enable-query={{ minecraft_prop_enable_query }}
generator-settings={}
level-name={{ minecraft_prop_level_name }}
motd={{ minecraft_prop_motd }}
query.port={{ minecraft_prop_query_port }}
pvp={{ minecraft_prop_pvp }}
generate-structures=true
difficulty={{ minecraft_prop_difficulty }}
network-compression-threshold={{ minecraft_prop_network_compression_threshold }}
require-resource-pack={{ minecraft_prop_require_resource_pack }}
max-tick-time={{ minecraft_prop_max_tick_time }}
use-native-transport={{ minecraft_prop_use_native_transport }}
max-players={{ minecraft_prop_max_players }}
online-mode={{ minecraft_prop_online_mode }}
enable-status={{ minecraft_prop_enable_status }}
allow-flight={{ minecraft_prop_allow_flight }}
broadcast-rcon-to-ops={{ minecraft_prop_broadcast_rcon_to_ops }}
view-distance={{ minecraft_prop_view_distance }}
server-ip={{ minecraft_prop_server_ip }}
resource-pack-prompt={{ minecraft_prop_resource_pack_prompt }}
allow-nether={{ minecraft_prop_allow_nether }}
server-port={{ minecraft_prop_server_port }}
enable-rcon={{ minecraft_prop_enable_rcon }}
sync-chunk-writes={{ minecraft_prop_sync_chunk_writes }}
op-permission-level={{ minecraft_prop_op_permission_level }}
prevent-proxy-connections={{ minecraft_prop_prevent_proxy_connections }}
hide-online-players={{ minecraft_prop_hide_online_players }}
resource-pack={{ minecraft_prop_resource_pack }}
entity-broadcast-range-percentage={{ minecraft_prop_entity_broadcast_range_percentage }}
simulation-distance={{ minecraft_prop_simulation_distance }}
rcon.password={{ minecraft_prop_rcon_password }}
player-idle-timeout={{ minecraft_prop_player_idle_timeout }}
force-gamemode={{ minecraft_prop_force_gamemode }}
rate-limit={{ minecraft_prop_rate_limit }}
hardcore={{ minecraft_prop_hardcore }}
white-list={{ minecraft_prop_white_list }}
broadcast-console-to-ops={{ minecraft_prop_broadcast_console_to_ops }}
spawn-npcs={{ minecraft_prop_spawn_npcs }}
spawn-animals={{ minecraft_prop_spawn_animals }}
function-permission-level={{ minecraft_prop_function_permission_level }}
level-type=default
text-filtering-config={{ minecraft_prop_text_filtering_config }}
spawn-monsters={{ minecraft_prop_spawn_monsters }}
enforce-whitelist={{ minecraft_prop_enforce_whitelist }}
resource-pack-sha1={{ minecraft_prop_resource_pack_sha1 }}
spawn-protection={{ minecraft_prop_spawn_protection }}
max-world-size={{ minecraft_prop_max_world_size }}
